/* Reset default margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* This code represents the white header at the top of the site nav bar and its styling.
Allows all elements to be arial font first, and also aligned on center for a clean and polished look. */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.nav-bar {
    display: flex;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
}

.nav-bar li {
    margin: 10px;
}

.nav-bar a {
    text-decoration: none;
}

/* This code represents the hero section with a background image */
.hero {
    background-image: url("images/hero-clouds2.jpg");
    display: flex;
    height: 900px;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container1 {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: column;
}

.hero-head {
    /* display: flex; */
    margin-left: 20px;
}

.hero-title {
    margin-right: 20px;
}

.headshot {
    border: 3px solid black;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    top: 33%;
    right: 30%; 
    /* position: absolute; */
    object-fit: cover;
    /* flex-wrap: wrap; */
}

.content {
    display: flex;
    padding: 90px;
}

.about, .work, .contact {
    display: flex;
    margin-bottom: 100px;
}

.about-content, .work-content, .contact-content {
    margin-top: 60px;
}

.work-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
}

.work-content, .container-a, .container-b, .container-c {
    display: flex;
    flex-wrap: wrap;
}

.work-content img {
    height: 300px;
    width: 300px;
}

.container-a, .container-b, .container-c {

}

.footer {
    display: flex;
    justify-content: center;
    /* padding: 10px; */
    margin-bottom: 50px;
}


/* Media query for small screens such as mobile */
@media (min-width: 390px) and (max-width: 490px) {
    .hero {
        background-image: url("images/hero-clouds2.jpg");
        background-size: cover;
    }

    .header h1 {
        font-size: 20px;
    }

    .container1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    
    .hero-title {
        margin-top: 60px;
    }


}

@media (min-width: 1150px) and (max-width: 2000px) {


}



