/* Reset default margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* This code represents the white header at the top of the site nav bar and its styling.
Allows all elements to be arial font first, and also aligned on center for a clean and polished look. */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.nav-bar {
    display: flex;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
}

.nav-bar li {
    margin: 10px;
}

.nav-bar a {
    text-decoration: none;
}

/* This code represents the hero section with a background image */
.hero {
    background-image: url("images/hero-clouds2.jpg");
    display: flex;
    height: 900px;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 390px) and (max-width: 490px) {
    .hero {
        background-image: url("images/hero-clouds2.jpg");
        background-size: cover;
    }

    .header h1 {
        font-size: 20px;
    }
}



